#footer {
  margin-top: 40px;
  text-align: center;
  color: #efefef;
  font-size: 12;
}
@font-face {
  font-family: miao;
  src: url(HYMiaoHunTiW.ttf);
}
html body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  background-image: url(blue.jpg);
  background-size: cover;
  background-attachment: fixed;
  font: 14px miao;
  color: #4d4d4d;
  font-weight: 300;
}
