@font-face 
  font-family: miao
  src: url('./HYMiaoHunTiW.ttf')
html body{
  margin: 0
  padding: 0
  width: 100%
  height: 100%
}
body{
  background-image:url(../images/blue.jpg)
  background-size: cover
  // background-repeat: no-repeat
  // background-position: fixed
  font: 14px miao
  color: #4d4d4d
  font-weight: 300
}
